@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  @apply h-full w-full font-sans text-[15px] leading-[17px] text-black md:text-lg md:leading-5;
}

@media screen and (min-width: 768px) {
  .column-count-2 {
    column-count: 2;
  }
}
