@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  @apply h-full w-full cursor-wait font-sans text-[15px] leading-[17px] text-black md:text-[16px] md:leading-[18px] 2xl:text-lg 2xl:leading-5;
}

@media screen and (min-width: 768px) {
  .column-count-2 {
    column-count: 2;
  }
}

@media screen and (min-width: 1024px) {
  /* When work menu is active, all links are black */
  .work-active.work-clicked a {
    @apply text-black;
  }

  /* When any link in an active work menu is hovered, set all links to grey */
  .work-active.work-clicked:hover a {
    @apply text-grey;
  }

  /* When a specific link in an active work menu is hovered, set only that link to black */
  .work-active.work-clicked a:hover {
    @apply text-black;
  }

  /* When hovering over 'work' without it being active, set all links to grey */
  .work:hover .work-nav a {
    @apply text-grey;
  }

  .work-nav {
    @apply text-grey;
  }

  .work-nav a:hover {
    @apply text-black;
  }
}

.embla-carousel a:first-of-type .slide {
  @apply pl-5;
}

.scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari and Opera */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE 11 */
}
